@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.fondocarrito{
    background-color: rgb(165, 165, 165);
    display: flex ;
    flex-direction: column;
    margin: auto 10px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    /* Ayuda a tapar la informacion */
    overflow: hidden;
}
.libro{
    border-radius: 10px;
    display: flex;
    margin: 20px ;
    padding: 10px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    /* background-color:rgb(119, 119, 119); */
}
.principal i{
    font-size: 25px;
}
.principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    background-color: rgb(211, 204, 204) ;
    height: 110px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    text-align:left;
    height: 70px;
    font-family: "Cabin", sans-serif;
    width: 300px;

    
} 
h2{
    margin: auto 10px;
    width: 200px;
    background-color: rgb(175, 54, 54);
    color: white;
}
.libro h3{
    margin-bottom:10px;
    margin-top: 8px;
    font-size: 22px;
}
.libro p{
    margin-top: 2px;
}
.libro img{
    width: 125px;
    height: 150px;
    object-fit:contain;
}
a i{
    color: black !important;
}


.principal a .fa-trash-can:hover{
    color: red !important;
}
